.products {
  max-width: 600px;
  margin: 0 auto;
}

.products ul {
  list-style: none;
  padding: 0;
}

.products li {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

.products li img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.products li strong {
  font-size: 18px;
  margin-bottom: 5px;
}

.products li button {
  border: none;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}

.products li button svg {
  margin-right: 5px;
}

.products li button.addToCart {
  background-color: #09f;
}

.products li button.removeFromCart {
  background-color: red;
}

.products li button:focus {
  outline: none;
}

.products li div.stock-volume {
  font-size: 12px;
  color: #777;
}

.products li div.category {
  font-size: 14px;
  font-style: italic;
  color: #555;
}
