/* Product.css */
.products {
  margin: 20px auto;
  max-width: 600px;
}

.products ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Add space between products */
}

.products li {
  width: 48%; /* Set the width to fit two products per row */
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.products li img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.products li strong {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.products li div {
  margin-bottom: 5px;
}

.products button {
  background-color: #09f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.products button:hover {
  background-color: #0077cc;
}

.products button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
